.AdityaLoading {
    animation: slideRight 2s;
}
.BarRight {
    animation: slideRightFast 0.5s;
}

.BarDown {
    animation: slideDown 0.75s;
}

.morningBirds{
    background-image: url("/mbirds.jpg");
    background-size: 150%;
    background-position: center; 
    animation: zooming 1s ease-in-out both;
    animation-timeline: view(auto auto);
}

@keyframes zooming{
    from {
        background-size: 150%;
    }
    to {
        background-size: 100%;
    }
}

.LightUp::after {
    content: '';
  width: 0px;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(71, 71, 71);
  transition: 300ms;
  animation: makeLine 1s ease;
}
.LightUp:hover:after {
    transition: 300ms all;
    width: 100%;
  }
.LightUp:not(:hover):after {transition: 300ms all;
    right: 0;
    left: auto;
  }  


@keyframes makeLine {
    from {
        opacity: 1;
    }
    to {

        opacity: 0;
    }
}


@keyframes slideDown {
    from {
        opacity: 0.5;
        transform: translateY(-60%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    from {
        opacity: 0.75;
        transform: translateX(-6%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideRightFast {
    from {
        opacity: 0.75;
        transform: translateX(-60%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.randomMove {
    animation: moveRandomly 5s infinite alternate;
}
@keyframes moveRandomly {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(1000px, 100px);
    }
    40% {
        transform: translate(10px, 100px);
    }
    60% {
        transform: translate(10px, 100px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.rotateSlow {
    background-color: rgb(226, 43, 144);
    animation: spin infinite 60s linear;
}

/* Apply the animation to the blurred elements */
